@import "../utils/constants.scss";

#table-status {
  display: flex;
  gap: 2rem;

  & > span {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    #alert-icon {
      color: $feather-alert;
    }

    #check-icon {
      color: $feather-check;
    }
  }
}
