.toggle {
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  padding: 0.55rem;
  position: fixed;
  right: max(1rem, env(safe-area-inset-right, 0px));
  top: max(1rem, env(safe-area-inset-top, 0px));
  z-index: 100;
}
