@import "../utils/constants.scss";

.filter {
  button {
    background: none;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    transition: $easeInOut;

    svg {
      height: 1rem;
      width: 1rem;
      stroke: $text-primary;
    }

    .open svg {
      transform: rotate(180);
    }
  }

  .filter-list {
    position: absolute;
    background-color: $background;
    border: 4px solid;
    border-radius: 1rem;
    margin: 0.25rem 0;
    transition: $easeInOut;
    visibility: visible;
  }

  &:nth-child(1) {
    button.open,
    button:hover {
      background-color: $theme-shade1;
    }

    .filter-list {
      border-color: $theme-shade1;
    }
  }

  &:nth-child(2) {
    button.open,
    button:hover {
      background-color: $theme-shade2;
    }

    .filter-list {
      border-color: $theme-shade2;
    }
  }

  &:nth-child(3) {
    button.open,
    button:hover {
      background-color: $theme-shade3;
    }

    .filter-list {
      border-color: $theme-shade3;
    }
  }

  &:nth-child(4) {
    button.open,
    button:hover {
      background-color: $theme-shade4;
    }

    .filter-list {
      border-color: $theme-shade4;
    }
  }

  &:nth-child(5) {
    button.open,
    button:hover {
      background-color: $theme-shade5;
    }

    .filter-list {
      border-color: $theme-shade5;
    }
  }

  &:nth-child(6) {
    button.open,
    button:hover {
      background-color: $theme-shade6;
    }

    .filter-list {
      border-color: $theme-shade6;
    }
  }
}
