$theme: #8176b5;
$background: #f4f4f5;
$background-blue: #b6e0f0;
$background-purple: #afa8d0;
$feather-alert: #f59e0b;
$feather-check: #84cc16;
$text-primary: #18181b;
$text-link: #258cb5;
$easeInOut: 125ms ease-in-out;

$theme-shade1: #dcd9eb;
$theme-shade2: #d9dced;
$theme-shade3: #d6dfef;
$theme-shade4: #d2e3f0;
$theme-shade5: #cfe6f2;
$theme-shade6: #cce9f4;
