@import "./utils/constants.scss";

#app {
  filter: drop-shadow(0 0 10px $theme-purple);

  header {
    font-size: 1.5rem;
    color: $theme-purple;
    padding: 1rem 2rem;
    background-color: rgba($background, 0.75);
    border-radius: 2rem 2rem 0 0;
  }

  #github-issues {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: $background;
    border-radius: 0 0 2rem 2rem;

    #table-filter {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 1rem;
    }
  }
}
