@import "./utils/constants.scss";

#app {
  filter: drop-shadow(0 0 10px $theme);

  header {
    font-size: 1.5rem;
    color: $theme;
    padding: 1rem 2rem;
    background-color: rgba($background, 0.75);
    border-radius: 2rem 2rem 0 0;
  }

  #github-issues {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: $background;
    border-radius: 0 0 2rem 2rem;

    h2 {
      padding: 0 0.92rem;
    }

    #table-filter {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 1rem;
    }
  }

  .icon-alert {
    color: $feather-alert;
  }

  .icon-check {
    color: $feather-check;
  }

  .icon-text {
    color: $text-primary;
  }
}
